<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">

        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs2 text-center">
                <label class="block relative">
                    <span class="color-green font-w7">图片</span>
                    <span class="color-desc margin-left-5">Image</span>
                    <input type="hidden" name="image" value="{$vo.image|default=''}">
                    <script>$('[name=image]').uploadOneImage()</script>
                </label>
            </div>
            <div class="layui-col-xs4 layui-col-lg-offset1">
                <label class="block relative">
                    <span class="color-green font-w7">名称</span>
                    <span class="color-desc margin-left-5">Name</span>
                    <input name="name" value='{$vo.name|default=""}' required pattern="^.{2,}$" placeholder="请输入名称" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs4 layui-col-lg-offset1">
                <label class="block relative">
                    <span class="color-green font-w7">点位类型</span>
                    <span class="color-desc margin-left-5">SpotType</span>
                    <select name='spot_type' class='layui-select' required>
                        {foreach ['1'=>'法律援助','2'=>'心理咨询'] as $k=>$v}
                        {eq name='k' value='$vo.spot_type|default=1'}
                        <option selected value='{$k}'>{$v}</option>
                        {else}
                        <option value='{$k}'>{$v}</option>
                        {/eq}
                        {/foreach}
                    </select>
                </label>
            </div>
            <div class="layui-col-xs4 layui-col-lg-offset1">
                <label class="block relative">
                    <span class="color-green font-w7">地址</span>
                    <span class="color-desc margin-left-5">Address</span>
                    <input name="address" value='{$vo.address|default=""}' required placeholder="请输入地址" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs4 layui-col-lg-offset1">
                <label class="block relative">
                    <span class="color-green font-w7">电话</span>
                    <span class="color-desc margin-left-5">Phone</span>
                    <input name="phone" value='{$vo.phone|default=""}' required placeholder="请输入电话" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs9 layui-col-lg-offset3">
                <label class="block relative">
                    <span class="color-green font-w7">工作时间</span>
                    <span class="color-desc margin-left-5">WorkTime</span>
                    <input name="work_time" value='{$vo.work_time|default=""}' required placeholder="请输入工作时间" class="layui-input">
                </label>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit'>保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
        </div>
    </div>
</form>

{block name='script'}
<script>
    require(['jquery.autocompleter'], function () {
        layui.form.render();
    });
</script>
{/block}