<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">板块类型</label>
            <div class="layui-input-inline">
                <select name="banner_type" class="layui-select">
                    {foreach [''=>'-- 全部类型 --','1'=>'政策解读','2'=>'军人风采','3'=>'法律援助','4'=>'心理咨询'] as $k=>$v}
                    {if input('get.banner_type') eq $k}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
</fieldset>

<script>form.render()</script>
