{extend name="../../admin/view/main"}

{block name="content"}
<div class="think-box-shadow">
    {include file='fans/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th width="60px" class='text-left nowrap'>微信头像</th>
            <th width="100px" class='text-left nowrap'>微信昵称</th>
            <th width="100px" class='text-left nowrap'>创建时间</th>
            <th width="60px" class='text-left nowrap'>实名状态</th>
            <th width="60px" class='text-left nowrap'>实名姓名</th>
            <th width="100px" class='text-left nowrap'>实名手机号</th>
            <th width="150px" class='text-left nowrap'>实名身份证号</th>
<!--            <th>操作</th>-->
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.openid}' type='checkbox'></label>
            </td>
            <td class='text-left nowrap relative layui-elip'>
                <img alt="" src="{$vo.headimgurl|default=''}" data-tips-image class="inline-block text-top margin-right-5" style="width:40px;height:40px">
            </td>
            <td class="text-left nowrap">
                {$vo.nickname|default='--'}
            </td>
            <td class='text-left nowrap'>
                {$vo.create_at|format_datetime|str_replace=' ','<br>时间：',###|raw}
            </td>
            <td class='text-left nowrap'>
                <!--{if $vo.is_realname eq 1}-->
                <span class="layui-badge layui-bg-blue">已实名</span>
                <!--{else}-->
                <span class="layui-badge layui-bg-gray">未实名</span>
                <!--{/if}-->
            </td>
            <td class='text-left nowrap'>
                {$vo.name|default='--'}
            </td>
            <td class='text-left nowrap'>
                {$vo.phone|default='--'}
            </td>
            <td class='text-left nowrap'>
                {$vo.id_number|default='--'}
            </td>
            <!--<td class="nowrap">

                {if auth("remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}" data-confirm="确定要删除该用户吗？">删 除</a>
                {/if}

            </td>-->
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
