<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">标题</label>
            <label class="layui-input-inline">
                <input name="title" value="{:input('get.title')}" placeholder="请输入标题" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">来源</label>
            <label class="layui-input-inline">
                <input name="from" value="{:input('get.from')}" placeholder="请输入来源" class="layui-input">
            </label>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">政策类型</label>
            <div class="layui-input-inline">
                <select name="policy_type" class="layui-select">
                    {foreach [''=>'-- 全部类型 --','1'=>'中央政策','2'=>'地方政策'] as $k=>$v}
                    {if input('get.policy_type') eq $k}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
</fieldset>

<script>form.render()</script>
