{extend name='main'}

{block name="button"}

{if isset($type) and $type eq 'all'}
<!--{if auth("add")}-->
<button data-modal='{:url("add")}' data-title="添加退役军人信息" class='layui-btn layui-btn-sm layui-btn-primary'>添加退役军人信息</button>
<!--{/if}-->
<!--{if auth("state")}-->
<a data-confirm="确定要启用该退役军人信息吗？" data-action="{:url('state')}" data-rule="id#{key};status#0" data-csrf="{:systoken('state')}" class='layui-btn layui-btn-sm layui-btn-primary'>批量禁用</a>
<!--{/if}-->
{else}
<!--{if auth("state")}-->
<a data-confirm="确定要恢复这些退役军人信息吗？" data-action="{:url('state')}" data-rule="id#{key};status#1" data-csrf="{:systoken('state')}" class='layui-btn layui-btn-sm layui-btn-primary'>批量恢复</a>
<!--{/if}-->
<!--{if auth("remove")}-->
<a data-confirm="确定要永久删除这些退役军人信息吗？" data-action='{:url("remove")}' data-rule="id#{key}" data-csrf="{:systoken('remove')}" class='layui-btn layui-btn-sm layui-btn-primary'>批量删除</a>
<!--{/if}-->
{/if}

{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <ul class="layui-tab-title">
        {foreach ['all'=>'退役军人信息','recycle'=>'回 收 站'] as $k=>$v}
        {if isset($type) and $type eq $k}
        <li data-open="{:url('index')}?type={$k}" class="layui-this">{$v}</li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}</li>
        {/if}
        {/foreach}
    </ul>
    <div class="layui-tab-content think-box-shadow">
        {include file='soldier/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
                <th class='list-table-sort-td'>
                    <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
                </th>
                <th class='text-left nowrap' width="180px">图片</th>
                <th class='text-left nowrap' width="180px">姓名</th>
                <th class='text-left nowrap'>内容</th>
                <th>操作</th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr data-dbclick>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
                </td>
                <td class='list-table-sort-td'>
                    <label><input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input"></label>
                </td>
                <td class='text-left nowrap'>
                    <img alt="img" width="40px" height="40px" data-tips-image src="{$vo.image|default=''}">
                </td>
                <td class='text-left nowrap'>
                    {$vo.name|default=''}
                </td>
                <td class='text-left nowrap'>
                    {$vo.comment|default=''|msubstr=0,10,'utf-8',true}
                </td>
                <td class='text-left nowrap'>
                    {if isset($type) and $type eq 'all'}
                    <!--{if auth("edit")}-->
                    <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑退役军人信息" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                    <!--{/if}-->
                    <!--{if auth("state") and $vo.status eq 1}-->
                    <a class="layui-btn layui-btn-sm layui-btn-warm" data-confirm="确定要禁用该退役军人信息吗?" data-action="{:url('state')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('state')}">禁 用</a>
                    <!--{/if}-->
                    {else}
                    <!--{if auth("state") and $vo.status eq 0}-->
                    <a class="layui-btn layui-btn-sm layui-btn-warm" data-confirm="确定要恢复该退役军人信息吗？" data-action="{:url('state')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('state')}">恢 复</a>
                    <!--{/if}-->
                    <!--{if auth("remove")}-->
                    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要永久删除此退役军人信息吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                    <!--{/if}-->
                    {/if}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
