<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs2 text-center">
                <label class="block relative">
                    <span class="color-green font-w7">图片</span>
                    <span class="color-desc margin-left-5">Image</span>
                    <input type="hidden" name="image" required value="{$vo.image|default=''}">
                    <script>$('[name=image]').uploadOneImage()</script>
                </label>
            </div>
            <div class="layui-col-xs4">
                <label class="block relative">
                    <span class="color-green font-w7">标题</span>
                    <span class="color-desc margin-left-5">Title</span>
                    <input name="title" value='{$vo.title|default=""}' required pattern="^.{4,}$" placeholder="请输入标题" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs3">
                <label class="block relative">
                    <span class="color-green font-w7">人数</span>
                    <span class="color-desc margin-left-5">Number</span>
                    <input name="number" value='{$vo.number|default=""}' required placeholder="请输入数量" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs3">
                <label class="block relative">
                    <span class="color-green font-w7">薪资</span>
                    <span class="color-desc margin-left-5">Money</span>
                    <input name="money" value='{$vo.money|default=""}' required placeholder="请输入薪资" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs4">
                <label class="block relative">
                    <span class="color-green font-w7">地址</span>
                    <span class="color-desc margin-left-5">Address</span>
                    <input name="address" value='{$vo.address|default=""}' required placeholder="请输入地址" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs6">
                <label class="block relative">
                    <span class="color-green font-w7">结束日期</span>
                    <span class="color-desc margin-left-5">EndDate</span>
                    <input name="end_date" value='{$vo.end_date|default=""}' required placeholder="请输入结束日期" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs6">
                <label class="block relative">
                    <span class="color-green font-w7">工作地点</span>
                    <span class="color-desc margin-left-5">WorkAddress</span>
                    <input name="work_address" value='{$vo.work_address|default=""}' required placeholder="请输入工作地点" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs6">
                <label class="block relative">
                    <span class="color-green font-w7">公司名称</span>
                    <span class="color-desc margin-left-5">CompanyName</span>
                    <input name="company_name" value='{$vo.company_name|default=""}' required placeholder="请输入公司名称" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs6">
                <label class="block relative">
                    <span class="color-green font-w7">公司地址</span>
                    <span class="color-desc margin-left-5">CompanyAddress</span>
                    <input name="company_address" value='{$vo.company_address|default=""}' required placeholder="请输入公司地址" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs6">
                <label class="block relative">
                    <span class="color-green font-w7">联系电话</span>
                    <span class="color-desc margin-left-5">ContactPhone</span>
                    <input name="contact_phone" value='{$vo.contact_phone|default=""}' required placeholder="请输入联系电话" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs6">
                <label class="block relative">
                    <span class="color-green font-w7">联系邮箱</span>
                    <span class="color-desc margin-left-5">ContactEmail</span>
                    <input name="contact_email" value='{$vo.contact_email|default=""}' required placeholder="请输入联系邮箱" class="layui-input">
                </label>
            </div>
        </div>
        <div class="hr-line-dashed margin-top-10 margin-bottom-10"></div>
        <label class="layui-form-item block relative">
            <span class="color-green">职位详情</span>
            <span class="color-desc margin-left-5">Comment</span>
            <textarea ng-model="$vo.comment" name="comment" class="layui-textarea" style="height:80px;line-height:18px">{$vo.comment|default=""}</textarea>
        </label>
        <div class="hr-line-dashed"></div>
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit'>保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
        </div>
    </div>
</form>