<form onsubmit="return false" data-auto="true" action="{:request()->url()}" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <label class="layui-form-item block relative">
            <span class="color-green">关于军人e家</span>
            <span class="color-desc margin-left-5">About</span>
            <textarea ng-model="{:sysconf('about')}" name="about">{:sysconf('about')}</textarea>
        </label>
        <div class="hr-line-dashed "></div>
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配置</button>
            <button class="layui-btn layui-btn-danger" type='button' data-history-back="确定要取消修改吗？">取消修改</button>
        </div>
    </div>
</form>

{block name='script'}
<script>
    require(['angular', 'ckeditor'], function () {

        var editor;

        setTimeout(function () {
            if (editor) editor.destroy();
            editor = window.createEditor('[name="about"]');
        }, 100);

    });
</script>
{/block}