<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs6 text-center">
                <!--{if $resource_type eq 1}-->
                <div class="layui-col-xs12 text-center">
                    <label class="block relative">
                        <span class="color-green font-w7">视频</span>
                        <span class="color-desc margin-left-5">Video</span>
                        {if isset($vo.content) && $vo.content neq ''}
                        <video style="width: 100%; height: 100%" controls>
                            <source src="{$vo.content}" type="video/mp4">
                            您的浏览器不支持 video 标签。
                        </video>
                        {else}
                        <input class='layui-input' value="{$vo.content|default=''}" name="content" placeholder="请上传视频或输入视频URL地址" title="请上传视频或输入视频URL地址">
                        <a data-file="btn" data-type="mp4" data-field="content" class="input-group-addon"><i class="layui-icon layui-icon-upload"></i></a>
                        {/if}
                    </label>
                </div>
                <!--{else}-->
                <div class="layui-col-xs4 layui-col-lg-offset4 text-center">
                    <label class="block relative">
                        <span class="color-green font-w7">图片</span>
                        <span class="color-desc margin-left-5">Image</span>
                        <input type="hidden" name="content" value="{$vo.content|default=''}">
                        <script>$('[name=content]').uploadOneImage()</script>
                    </label>
                </div>
                <!--{/if}-->
            </div>
            <div class="layui-col-xs6">
                <div class="layui-col-xs12">
                    <label class="block relative">
                        <span class="color-green font-w7">活动系列</span>
                        <span class="color-desc margin-left-5">ActivityType</span>
                        <select name='activity_type_id' class='layui-select' required  placeholder="请选择活动系列">
                            <option value=''>请选择活动系列</option>
                            {foreach $activity_types as $activity_type}
                            {eq name='activity_type.id' value='$vo.activity_type_id|default=1'}
                            <option selected value='{$activity_type.id}'>{$activity_type.title}</option>
                            {else}
                            <option value='{$activity_type.id}'>{$activity_type.title}</option>
                            {/eq}
                            {/foreach}
                        </select>
                    </label>
                </div>
                <div class="layui-col-xs12">
                    <label class="block relative">
                        <span class="color-green font-w7">作者</span>
                        <span class="color-desc margin-left-5">Author</span>
                        <input name="author" value='{$vo.author|default=""}' required pattern="^.{2,}$" placeholder="请输入作者" class="layui-input">
                    </label>
                </div>
            </div>




        </div>
        <div class="hr-line-dashed"></div>
        {notempty name='resource_type'}<input type='hidden' value='{$resource_type}' name='resource_type'>{/notempty}
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit'>保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
        </div>
    </div>
</form>

{block name='script'}
<script>
    require(['jquery.autocompleter'], function () {
        layui.form.render();
    });
</script>
{/block}